SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.dev

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:3000
WEBHOOK_URL=https://your-public-backend-url.ngrok-free.dev
