SECRET_KEY=django-dev-key-2026-change-this-to-a-long-random-value
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.dev

MP_ACCESS_TOKEN=tu_access_token_de_mercadopago
# Dejalo vacio para pruebas locales
MP_WEBHOOK_SECRET=tu_webhook_secret_de_mercadopago

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
